<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <!--if IE meta(http-equiv='X-UA-Compatible', content='IE=edge')
    -->
  <title>Starter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory-->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="favicon.ico">

  <!-- Add Local Css-->
  <link rel="stylesheet" href="vendor/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

</html>

<body class="index-page">


  <!-- Add Script Area-->
  <script src="vendor/jquery.min.js"></script>
  <script src="vendor/bootstrap.min.js"></script>
</body>